
# BEGIN INDEX
# Dyrektywy zawarte między "BEGIN INDEX" oraz "END INDEX"
# są generowane dynamicznie i powinny być modyfikowane tylko za pomocą
# filtrów WordPressa. Zmiany dokonane bezpośrednio tutaj będą nadpisywane.
Options -Indexes
# END INDEX