html {
    scrollbar-width: normal;
    scrollbar-color: #DDC1A7 #BD9479;
    scroll-behavior: smooth;
  }
  html { scroll-behavior: smooth; } 

  html::-webkit-scrollbar {
    width: 1vw;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #DDC1A7;
  }

  html::-webkit-scrollbar-thumb:hover {
    background-color: #DDC1A7;
  }

  html::-webkit-scrollbar-track {
    background-color: #BD9479;
  }

  html::-webkit-scrollbar-track:hover {
    background-color: #BD9479;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #5A5872;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }
  
  a:focus,
  input:focus,
  textarea:focus,
  button:focus {
    text-decoration: none;
    outline: none;
  }
  
  a:focus,
  a:hover {
    text-decoration: none;
  }
  
  i,
  span,
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #2B2A3D;
    margin: 0px;
  }
  
  h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 28px;
  }
  
  h4 {
    font-size: 22px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 16px;
  }
  
  ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #5A5872;
    margin: 0px;
  }
  
  .bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  
  /*===== Przyciski =====*/
  .main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0;
    padding: 0 40px;
    font-size: 16px;
    height: 55px;
    line-height: 55px;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-out 0s;
    background-color: #BD9479;
  }
  
  .main-btn:hover {
    background-color: #BD9479;
    color: #fff;
  }
  
  /*===== Section wszystkie =====*/
  .section_title .title {
    font-size: 40px;
    font-weight: 700;
  }
  
  @media (max-width: 767px) {
    .section_title .title {
      font-size: 26px;
    }
  }
  
  .section_title p {
    margin-top: 15px;
    font-size: 18px;
    color: #9e9db3;
  }
  
  .section_title.section_title_2 .title,
  .section_title.section_title_2 p {
    color: #fff;
  }
  
  /*===== Preloadery =====*/
  
  /*===================
       header CSS 
  =====================*/
  
  /*===== NAVBAR =====*/
  
  .napislogo {
    font-size: 1em;
  }
  
  
  .header_navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-out 0s;
  }
  
  .sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-out 0s;
  }
  
  .sticky .navbar {
    padding: 15px 0;
  }
  
  .navbar {
    padding: 20px 0;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-out 0s;
  }
  
  .navbar-brand {
    padding: 0;
  }
  
  .navbar-brand img {
    width: 150px;
  }
  
  @media (max-width: 767px) {
    .navbar-brand img {
      width: 130px;
    }
  }
  
  .navbar-toggler {
    padding: 0;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    transition: all 0.3s ease-out 0s;
  }
  
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    transform: rotate(45deg);
    top: 7px;
  }
  
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
  }
  
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    transform: rotate(135deg);
    top: -7px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      padding: 5px 12px;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      padding: 5px 12px;
    }
  }
  
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
      margin-left: 30px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
      margin: 0;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-nav .nav-item {
      margin: 0;
    }
  }
  
  .navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
  }
  
  .navbar-nav .nav-item a::before {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a::before {
      display: none;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-nav .nav-item a::before {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
      display: block;
      padding: 4px 0;
      color: #222;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-nav .nav-item a {
      display: block;
      padding: 4px 0;
      color: #222;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
      color: #BD9479;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
      color: #BD9479;
    }
  }
  
  .navbar-nav .nav-item a.active::before, .navbar-nav .nav-item a:hover::before {
    width: 100%;
  }
  
  .navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item:hover .sub-menu {
      top: 0;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-nav .nav-item:hover .sub-menu {
      top: 0;
    }
  }
  
  .navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item .sub-menu {
      position: relative;
      width: 100%;
      top: 0;
      display: none;
      opacity: 1;
      visibility: visible;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu {
      position: relative;
      width: 100%;
      top: 0;
      display: none;
      opacity: 1;
      visibility: visible;
    }
  }
  
  .navbar-nav .nav-item .sub-menu li {
    display: block;
  }
  
  .navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: #222;
  }
  
  .navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #BD9479;
  }
  
  .navbar-nav .sub-nav-toggler {
    display: none;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #222;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #222;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px;
    }
  }
  
  .navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
  }
  
  .sticky .navbar-toggler .toggler-icon {
    background-color: #222;
  }
  
  .sticky .navbar-nav .nav-item a {
    color: #222;
  }
  
  
  .sticky .navbar-nav .nav-item a::before {
    background-color: #BD9479;
  }
  
  .sticky .navbar-nav .nav-item a.active, .sticky .navbar-nav .nav-item a:hover {
    color: #BD9479;
  }
  
  .sticky .navbar-nav .napislogo {
    color: #BD9479;
  }


/* HERO */

/*===== hero =====*/
.single_hero {
    height: 750px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  @media only screen and (min-width: 1400px) {
    .single_hero {
      height: 950px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_hero {
      height: 700px;
    }
  }
  
  @media (max-width: 767px) {
    .single_hero {
      height: 650px;
    }
  }
  
  .single_hero::before {
    position: absolute;
    content: '';
    background-color: rgba(43, 42, 61, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .hero_content {
    padding-top: 50px;
  }
  
  .hero_content .hero_title {
    font-size: 60px;
    line-height: 85px;
    color: #fff;
    margin-top: 15px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero_content .hero_title {
      font-size: 44px;
      line-height: 65px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_content .hero_title {
      font-size: 40px;
      line-height: 60px;
    }
  }
  
  @media (max-width: 767px) {
    .hero_content .hero_title {
      font-size: 24px;
      line-height: 38px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .hero_content .hero_title {
      font-size: 40px;
      line-height: 60px;
    }
  }
  
  .hero_content .hero_title span {
    display: contents;
    color: #BD9479;
  }
  
  .hero_content p {
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
  }
  
  @media (max-width: 767px) {
    .hero_content p {
      font-size: 16px;
    }
  }
  
  .hero_content .main-btn {
    margin-top: 45px;
  }

  
/* SCROLL */
.scroller {
    height: 70pt;
    line-height: 70pt;
    overflow: hidden;
 }
 .scroller .inner { animation: 10s normal infinite running scroll; }
 @keyframes scroll {
    0%  	{margin-top: 0px;}
    16% 	{margin-top: 0px;}
 
    16%  {margin-top: -70pt;}
    32%  {margin-top: -70pt;}
    
    32%  {margin-top: -140pt;}
    48%  {margin-top: -140pt;}
 
    48%  {margin-top: -210pt;}
    64%  {margin-top: -210pt;}
 
    64%  {margin-top: -280pt;}
    80%  {margin-top: -280pt;}
 
 
    100% {margin-top: 0px;}
 }
 /* SCROLL END */